*{
  margin:0;
  padding: 0;
  
}
body{
  background-color: black;
  background-image: url('bodybg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.all{
  height: 100%;
  width: 100%;
  background-image:transparent;
  border: 5px solid red;
}
.tree{
  background-color: gold;
  background-position: center;
  background-size: 100%;
  
}
.one{
  width: 100%;
  height: 50%;
  background-color:red;
}
.img-one{
  height: 400px;
  width:99%;
  border: 4px solid gold;
  
}

.login{
  color: red;
  background-color:blue;
  font-size: 80px;
  font-style: bold;
  padding-left: 90px;
  padding-top: 30px;
}

.img-two{
  margin: 50px;
  height: 350px;
  width: 90%;
  position: center;
  border: 5px solid red;
  
}
